<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Mahad Magandi" />
        
        {% block 'HeadRaiz' %}
        {% endblock 'HeadRaiz' %}
        
        <link href={% static 'Appcoder/css/styles.css' %} rel="stylesheet" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                {% block 'Anclas' %}
                {% endblock 'Anclas' %}
                <a class="navbar-brand" href="{% url 'link1' %}">Link 1</a>
                <a class="navbar-brand" href="{% url 'link2' %}">Link 2</a>
                <a class="navbar-brand" href="{% url 'link3' %}">Link 3</a>
                <a class="navbar-brand" href="{% url 'link4' %}">Link 4</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
        </nav>
        {% if tiene_mensaje %}
            <h3>{{mensaje}}</h3>
        {% endif %}
        {% block 'Section' %}
        
        {% endblock 'Section' %}


        {% block 'Pepe' %}
        
        {% endblock 'Pepe' %}


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Appcoder/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
