<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href={% url 'crear' 0 %}>Crear nuevo estudiante</a>
    <form action={% url 'ver' %} method="GET">
        {% csrf_token %}
        <p>Apellido: 
            <input type='text' name="apellido">
        </p>
        <input type="submit" placeholder="Enviar"> 
    </form>
    {% if estudiantes %}
        {% for estudiante in estudiantes %}
            <p>
                {{estudiante}}<br> <a href={% url 'crear' estudiante.id %}>Editar</a><br><a href={% url 'eliminar' estudiante.id %}>Eliminar</a>
            </p>
        {% endfor %}
    {% else %}
        <p>
            No hay estudiantes guardados.
        </p>
    {% endif %}
</body>
</html>